{% extends 'home.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

{% block content %}
  <h1 style="text-align: center;">{{ product.name }}</h1>

  <div class="products-container" style="display:flex; gap:30px;">
    <div style="width:300px;">
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%; height:auto;" />
      {% endif %}
    </div>

    <div>
      <p>
        <strong>{% trans 'Prix :' %}</strong> {{ product.price }} €
      </p>
      <p>{{ product.description }}</p>

      <form action="{% url 'cart:add_to_cart' product.id %}" method="post">
        {% csrf_token %}

        <label for="quantity">{% trans 'Quantité :' %}</label>
        <div class="qty-selector">
          <button type="button" onclick="changeQty(-1)">–</button>
          <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.stock }}" />
          <button type="button" onclick="changeQty(1)">+</button>
        </div>

        <script>
            function changeQty(delta) {
            const input = document.getElementById("quantity");
            let value = parseInt(input.value) + delta;
            if (value > {{ product.stock }}) value = {{ product.stock }};
            input.value = value;
}
            </script>

        <button type="submit">{% trans 'Ajouter au panier' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
