{% extends "home.html" %}

{% block content %}
<h1>Merci pour votre commande !</h1>

<p>Votre commande numéro <strong>{{ order.id }}</strong> a bien été enregistrée.</p>

<h2>Détails de la commande</h2>

<ul>
    {% for item in order.orderitem_set.all %}
        <li>
            {{ item.product.name }} × {{ item.quantity }} — {{ item.price }} €
        </li>
    {% endfor %}
</ul>

<h3>Total de la commande : {{ order.get_total_cost }} €</h3>


<a href="/">Retour à l'accueil</a>
{% endblock %}
